#form-modal {  
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: rgb(14,10,20);
  background-color: rgba(14,10,20, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

#form-modal .overlay-content {
  width: 100%;
  position: relative;
  top: 35%;
  display: flex;
  justify-content: center;
  text-align: center; 
}

#form-modal .closebtn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

#form-modal .closebtn:hover, #form-modal .closebtn:focus {
  color: #f1f1f1;
}

#form-modal .overlay-content .modal-title{
  color: #F0F0F5;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

#form-modal .overlay-content form {
  border-radius: 8px;
  max-width: 530px;

  display: flex;
  flex-direction: column;
}

#form-modal .overlay-content form input[type=text] {
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#form-modal .overlay-content form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
  margin-bottom: 8px;
}

#form-modal .overlay-content form button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  transition: background-color 0.2s;
  cursor: pointer;
}

#form-modal .overlay-content form button {
  width: 100%;
}

#form-modal .overlay-content form button:hover {
  background: #2FB86E;
}